body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

video {
  width: 100%;
  height: auto;
}

body {
  text-align: center;
  padding-top: 20px;
}

/** additional css for game selection panel **/

.card-square {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.extra-padding {
    margin-bottom: 100px;
}

.color-black {
  color: black;
}

/** additional css for GamePanel **/

.color-green {
  background-color: #4FA64F !important;
}

.btn-lg-2 {
  padding: 25px 50px !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

.left-padding {
  padding-left: 20px;
}

.left-padding-lg {
  padding-left: 100px;

}

.container-square {
  width: 50% !important;
  height: 50% !important;
  padding-left: 20px;
}

.container-square-force {
  width: 30% !important;

}

.bottom-padding {
  margin-bottom: 20px !important;
}

.no-wrap {
  width: 100% !important;
}

.bottom-padding-lg {
  margin-bottom: 490px !important;
}
